.fish-list-panel {
  .inner-shadow;
  flex-grow: 1;

  .fish {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;

    &:hover {
      cursor: pointer;
    }

    .picture {
      flex-basis: 60px;
      margin: 10px;
      background-color: #ccc;
    }

    .information {
      flex-grow: 1;
      margin-top: 15px;

      .fish-type {
        font-weight: bold
      }
    }
  }
}
