.fishing-panel {
  .inner-shadow;
  flex-basis: 30%;
  opacity: 0.5;
  overflow: hidden;
  background: url(../images/water_texture.jpg);
  background-size: cover;

  &:hover {
    .inner-shadow-hover;
    opacity: 0.7;
  }

  .player-name {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    font-size: 18px;
  }

  .fish {
    background: url(../images/standard_fish.png);
    background-size: contain;
    width: 75px;
    height: 34px;
    position: relative;
    left: -100px;

    &.reverse {
      transform: scale(-1);

      &.mouse-hover {
        transform: scale(-1.5);
      }

      &.mouse-down {
        transform: scale(-1.1);
      }

      &.mouse-up {
        transform: scale(-2);
      }
    }

    &.mouse-hover {
      cursor: pointer;
      transform: scale(1.5);
    }

    &.mouse-down {
      transform: scale(1.1);
    }

    &.mouse-up {
      transform: scale(2.0);
      opacity: 0 !important;
    }
  }
}
