.fishing-panel {
  .inner-shadow;
  flex-basis: 30%;
  opacity: 0.5;
  overflow: hidden;
  background: url(../images/water_texture.jpg);
  background-size: cover;

  &:hover {
    .inner-shadow-hover;
    cursor: pointer;
    opacity: 0.7;
  }

  .fish {
    background: url(../images/standard_fish.png);
    background-size: contain;
    width: 75px;
    height: 34px;
    opacity: 0.3;
    position: relative;
    left: -100px;

    &:hover {
      opacity: 0.8;
    }
  }
}
